html {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(seagreen, seagreen, salmon);
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  text-align: center;
}

.jumbotron {
  background: linear-gradient(black, lightblue, black);
}

.list-group-item-text {
  background-color: rgba(224,255,255, 0.9);
}

.text_tiny {
  font-size: 5pt;
}

.text_white {
  color: white;
}

.vertMargin {
  margin-top: 15px;
  margin-bottom: 5px;
}

.well_parent {
  background: linear-gradient(black, lightblue, black);
}

.well_child {
  background-color: rgba(224,255,255, 0.9);
}

.width_min {
  min-width: 250px;
  padding: 2px;
}

#cSharpShow{
  display: none;
}

#cssShow{
  display: none;
}

#questionnaire {
  display: none;
}

#rubyShow{
  display: none;
}
